########################################
# Application
########################################

APP_NAME=Daily Challenges
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000/daily-challenges

########################################
# Database
########################################

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432

DB_DATABASE=daily_challenges
DB_USERNAME=dev
DB_PASSWORD=change-me