# Copy this file to .env before running Docker Compose.

PROJECT_PATH=~/Code/project-name

PHP_CONTAINER_NAME=project-php
PHP_PORT=8080

POSTGRES_VERSION=17
POSTGRES_CONTAINER_NAME=project-postgres
POSTGRES_PORT=8081

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=app
DATABASE_USER=app
DATABASE_PASSWORD=changeme